.App-header {
    background: none;
}

.login-button {
    position: absolute;
    top: 55%;
}
.logout-button {
    position: absolute;
    right: 0px;
    border: none;
    border-radius: 0px 0px 0px 10px;
    background-color: #2bbbad;
    color: #fff;
    padding: 5px;
    font-size: 13px;
}
.page {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 300px;
}