.logo {
    position: absolute;
    left: 0px;
    margin: 0px;
}

.navBtn {
    background-color: rgb(189, 189, 189);
}

.navButtons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navBtn, .authBtn {
    margin-top: 14px;
    margin-right: 14px;
}

.container {
    width: 100%;
    position: absolute;
    right: 0px;
    max-width: none;
}